.container{
    width: 340px;
    height: 100px;
    background-color: lightcoral;
    flex-direction: column;
    padding: 15px;
    border: 4px solid black;
    position: relative;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    }